@import '_reset.css';
@import '_variables.css';
@import '_filters.css';
@import '_nouislider.min.css';

html,
body {
  background: $color-fondo;
}

button {
	outline: 0;
}

.icons {
	font-size: 0;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 16px;
	font-family: $work-sans;
	display: block;
	vertical-align: middle;
	text-align: center;
	.icons-texto {
		width: 50%;
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		.icons-texto-principal {
			color: $color-secundario;
			font-size: 58px;
			display: inline-block;
			margin: 0 20px 0 0;
		}
		.icons-texto-secundario {
			text-align: left;
			margin: 0;
			font-size: 16px;
		}
	}
}

.icons {
	.icons-social {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		text-align: right;
		a {
			border: 1px solid $color-btn;
			display: inline-block;
			padding: 5px 15px;
			margin-right: 10px;
			text-decoration: none;
			color: #000;
			font-size: 16px;
			font-family: $hind;
			&:hover {
				background: rgba(255,255,255,0.65);
				color: $color-btn;
			}
		}
	}
}


.section-left {
	width: 100%;
	margin: 32px 0;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	.texto-secundario {
		font-family: $hind;
		font-size: 18px;
		color: $color-secundario;
		text-align: left;
		width: 70%;
		margin: 0 auto;
	}
	.section-left-example {
		width: 50%;
		display: inline-block;
		float: left;
		svg {
			width: 90%;
			display: block;
			border: 3px solid $color-btn;
			border-left: 0;
		}
		picture {
			box-sizing: border-box;
			width: 100%;
			img {
				width: 90%;
				display: block;
				border: 3px solid $color-btn;
				border-left: 0;
			}
		}
	}
}

.section-left {
	.section-left-drag {
		width: 50%;
		display: inline-block;
		float: left;
		#holder {
		    border: 3px solid $color-btn;
		    border-right: 0;
		    min-height: 372px;
		    width: 100%;
		    height: 100%;
		    display: block;
		    padding: 20px;
		    box-sizing: border-box;
		    img {
				display: block;
				width: 100%;
		    }
		 }
		#holder.hover {
		    border: 5px solid #AAA1CF;
		    border-right: 0;
		}
	}
}

.fail {
    background: #c00;
    padding: 2px;
    color: #fff;
}

.hidden {
    display: none !important;
}

.section-buttons {
	margin-bottom: 50px;
	button {
		box-sizing: border-box;
		width: calc(100/10 * 1%);
	  	padding: 15px 10px;
	  	margin: 5px 2.5%;
		-webkit-appearance: none;
		background: none;
		border: 1px solid $color-btn;
		font-family: $hind;
		text-transform: uppercase;
		transition: all 0.3s ease-in;
		&:hover {
			background: rgba(255,255,255,0.65);
			color: #000;
		}
	}
}

.btn-filters {
	background: $color-btn;
}

.center-svg {
	display: block;
	margin: 0 auto;
}

.panel {
	width: 100%;
	left: -100%;
	border-top: 10px solid #2C3E4F;
	background-color: #F0F8FF;
	position: absolute;
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
	.panel-input {
		display: inline-block;
		vertical-align: middle;
		width: 60%;
		height: 100%;
	}
	.panel-code {
		display: inline-block;
		vertical-align: middle;
		width: 35%;
		height: 100%;
		.panel-code-textarea {
			display: inline-block;
			vertical-align: middle;
			width: 70%;
			height: 175px;
			border: 2px solid $color-btn;
			outline: 0;
			background-color: #fff;
		}
	}
	#panel-btn-close {
		position: absolute;
		top: 10px;
		right: 10px;
		border: 0;
		background-color: transparent;
		display: block;
		svg {
			width: 26px;
			height: 26px;
		}
	}
}

.panel-info {
	width: 100%;
	left: -100%;
	border-top: 3px solid #000;
	background-color: #F0F8FF;
	position: absolute;
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
	#panel-btn-show {
		font-size: 16px;
		padding: 15px;
		font-family: $hind;
		color: #000;
		text-align: center;
		background-color: transparent;
		display: block;
		border: 1px solid $color-btn;
		margin: 15px auto;
	}
}

.panel {
	.panel-btn-copy {
		margin-top: 20px;
		background-color: transparent;
		border: 1px solid $color-btn;
		padding: 10px 20px;
		display: inline-block;
		font-size: 18px;
		font-family: $work-sans;
		color: #000;
		&:hover {
			background-color: #fff;
			color: $color-btn;
		}
	}
}

.panel-bottom {
	position: fixed;
	bottom: 0;
}