@import '_reset.css';
@import '_variables.css';

html,
body {
  background: $color-fondo;
}

html {
	padding: 30px;
}

.icons {
	font-size: 0;
	text-align: left;
	.icons-texto-principal {
		color: $color-secundario;
		font-size: 64px;
		font-family: 'Work Sans', sans-serif;
		display: inline-block;
		margin: 0 20px 0 0;
	}
	.icons-social {
		display: inline-block;
		width: 100%;
		a {
			border: 1px solid $color-btn;
			display: inline-block;
			padding: 5px 15px;
			margin-right: 10px;
			text-decoration: none;
			color: #000;
			font-size: 16px;
			font-family: 'Hind', sans-serif;
			&:hover {
				background: rgba(255,255,255,0.65);
				color: $color-btn;
			}
		}
	}
	.icons-texto-secundario {
		text-align: left;
		margin: 0;

	}
}


.section-left {
	width: 100%;
	padding-top: 5px;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	.section-left-example {
		width: 50%;
		display: inline-block;
		float: left;
		picture {
			box-sizing: border-box;
			width: 100%;
			img {
				width: 70%;
				display: block;
				margin: 0 auto;
				border: 5px solid $color-btn;
			}
		}
	}

	.section-left-drag {
		width: 50%;
		display: inline-block;
		float: left;
		#holder {
		    border: 5px solid $color-btn;
		    width: 70%;
		    height: 100%;
		    display: block;
		    margin: 0 auto;
		    padding: 20px;
		    box-sizing: border-box;
		    img {
				display: block;
				width: 100%;
		    }
		 }

		#holder.hover {
		    border: 5px solid #AAA1CF;
		}
	}
}

button {
	box-sizing: border-box;
	width: calc(100/10 * 1%);
  	padding: 15px 10px;
  	margin: 5px 2.5%;
	-webkit-appearance: none;
	background: none;
	border: 1px solid $color-btn;
	font-family: 'Hind', sans-serif;
	text-transform: uppercase;
	transition: all 0.3s ease-in;
	&:hover {
		background: rgba(255,255,255,0.65);
		color: #000;
	}
}

.texto-secundario {
	font-family: 'Hind', sans-serif;
	font-size: 18px;
	margin: 15px 0;
	color: $color-secundario;
	text-align: center;
}

.btn-filters {
	background: $color-btn;
}

.center-svg {
	display: block;
	margin: 0 auto;
}


//FILTERS CLASS

.saturate {
    filter: url('../filters.svg#saturate');
}

.saturotate {
    filter: url('../filters.svg#saturotate');
}

.rotamatrix {
    filter: url('../filters.svg#rotamatrix');
}

.multitable {
    filter: url('../filters.svg#multitable');
}

.tablen {
    filter: url('../filters.svg#tablen');
}

.dishue {
    filter: url('../filters.svg#dishue');
}

.matrix {
    filter: url('../filters.svg#matrix');
}

.matrix-dos {
    filter: url('../filters.svg#matrixDos');
}

.huerotate {
    filter: url('../filters.svg#hueRotate');
}

.luminance {
    filter: url('../filters.svg#luminanceToAlpha');
}

.discrete {
    filter: url('../filters.svg#discrete');
}

.discrete-dos {
    filter: url('../filters.svg#discrete-dos');
}

.table {
    filter: url('../filters.svg#table');
}

.table-dos {
    filter: url('../filters.svg#tableDos');
}

.identity {
    filter: url('../filters.svg#identity');
}

.linear {
    filter: url('../filters.svg#linear');
}

.gamma {
    filter: url('../filters.svg#gamma');
}

.turbulence {
    filter: url('../filters.svg#turbulence');
}

.sepia {
    filter: url('../filters.svg#sepiatone');
}

.fematrix-uno {
    filter: url('../filters.svg#fematrixUno');
}

.fematrix-dos {
    filter: url('../filters.svg#fematrixDos');
}

.turbu-map {
    filter: url('../filters.svg#turbuMap');
}

.map-uno {
    filter: url('../filters.svg#mapUno');
}

.map-dos {
    filter: url('../filters.svg#mapDos');
}

.blur-uno {
    filter: url('../filters.svg#blurUno');
}

.blur-dos {
    filter: url('../filters.svg#blurDos');
}

.blur-tres {
    filter: url('../filters.svg#blurTres');
}

.morpho-uno {
    filter: url('../filters.svg#morphoUno');
}

.morpho-dos {
    filter: url('../filters.svg#morphoDos');
}

.morpho-tres {
    filter: url('../filters.svg#morphoTres');
}

.morpho-cuatro {
    filter: url('../filters.svg#morphoCuatro');
}

.fail {
    background: #c00;
    padding: 2px;
    color: #fff;
}

.hidden {
    display: none !important;
}